<a href="https://colab.research.google.com/github/FGalvao77/Processamento-de-conjunto-de-dados-Pandas-VS-Polars/blob/main/Processamento_de_conjunto_de_dados_Pandas_VS_Polars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<br>

## **Processamento de conjunto de dados: `Pandas` _VS_ `Polars`**
---
---

In [1]:
!pip install polars

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: polars in /usr/local/lib/python3.9/dist-packages (0.16.13)
Requirement already satisfied: typing_extensions>=4.0.1 in /usr/local/lib/python3.9/dist-packages (from polars) (4.5.0)

In [2]:
import pandas as pd
import polars as pl

from datetime import datetime

In [3]:
def processing_time():
    result = datetime.now()
    return result

In [4]:
def final_time(x, y):
    print(f'Final time: {x - y}')



Download: https://github.com/datablist/sample-csv-files/raw/main/files/organizations/organizations-2000000.zip

In [5]:
archive = '/content/organizations-2000000.csv'

In [6]:
df_pandas = pd.read_csv(filepath_or_buffer=archive)

print(df_pandas.shape)
df_pandas.head()

(1172408, 9)

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,391dAA77fea9EC1,Daniel-Mcmahon,https://stuart-rios.biz/,Cambodia,Focused eco-centric help-desk,2013,Sports,1878.0
1,2,9FcCA4A23e6BcfA,"Mcdowell, Tate and Murray",http://jacobs.biz/,Guyana,Front-line real-time portal,2018,Legal Services,9743.0
2,3,DB23330238B7B3D,"Roberts, Carson and Trujillo",http://www.park.com/,Jordan,Innovative hybrid data-warehouse,1992,Hospitality,7537.0
3,4,bbf18835CFbEee7,"Poole, Jefferson and Merritt",http://hayden.com/,Cocos (Keeling) Islands,Extended regional Graphic Interface,1991,Food Production,9974.0
4,5,74ECD725ceaDfd9,"Ritter, Patel and Cisneros",https://www.mason-blackwell.info/,Ecuador,Re-contextualized actuating website,2019,Computer Networking,5050.0

In [7]:
df_pandas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1172408 entries, 0 to 1172407
Data columns (total 9 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Index                1172408 non-null  int64
 1   Organization Id      1172408 non-null  object
 2   Name                 1172408 non-null  object
 3   Website              1172408 non-null  object
 4   Country              1172408 non-null  object
 5   Description          1172408 non-null  object
 6   Founded              1172408 non-null  int64
 7   Industry             1172408 non-null  object
 8   Number of employees  1172407 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 80.5+ MB

In [9]:
init = processing_time()
df_pandas = pd.read_csv(filepath_or_buffer=archive)
end = processing_time()

print(df_pandas.shape)
final_time(end, init)

(1172408, 9)
Final time: 0:00:03.221334

In [10]:
df_polars = pl.read_csv(source=archive)

print(df_polars.shape)
df_polars.head()

(1172408, 9)

shape: (5, 9)
┌───────┬────────────┬────────────┬───────────┬─────┬───────────┬─────────┬───────────┬────────────┐
│ Index ┆ Organizati ┆ Name       ┆ Website   ┆ ... ┆ Descripti ┆ Founded ┆ Industry  ┆ Number of  │
│ ---   ┆ on Id      ┆ ---        ┆ ---       ┆     ┆ on        ┆ ---     ┆ ---       ┆ employees  │
│ i64   ┆ ---        ┆ str        ┆ str       ┆     ┆ ---       ┆ i64     ┆ str       ┆ ---        │
│       ┆ str        ┆            ┆           ┆     ┆ str       ┆         ┆           ┆ i64        │
╞═══════╪════════════╪════════════╪═══════════╪═════╪═══════════╪═════════╪═══════════╪════════════╡
│ 1     ┆ 391dAA77fe ┆ Daniel-Mcm ┆ https://s ┆ ... ┆ Focused   ┆ 2013    ┆ Sports    ┆ 1878       │
│       ┆ a9EC1      ┆ ahon       ┆ tuart-rio ┆     ┆ eco-centr ┆         ┆           ┆            │
│       ┆            ┆            ┆ s.biz/    ┆     ┆ ic        ┆         ┆           ┆            │
│       ┆            ┆            ┆           ┆     ┆ help-desk ┆         ┆           ┆            │
│ 2     ┆ 9FcCA4A23e ┆ Mcdowell,  ┆ http://ja ┆ ... ┆ Front-lin ┆ 2018    ┆ Legal     ┆ 9743       │
│       ┆ 6BcfA      ┆ Tate and   ┆ cobs.biz/ ┆     ┆ e         ┆         ┆ Services  ┆            │
│       ┆            ┆ Murray     ┆           ┆     ┆ real-time ┆         ┆           ┆            │
│       ┆            ┆            ┆           ┆     ┆ portal    ┆         ┆           ┆            │
│ 3     ┆ DB23330238 ┆ Roberts,   ┆ http://ww ┆ ... ┆ Innovativ ┆ 1992    ┆ Hospitali ┆ 7537       │
│       ┆ B7B3D      ┆ Carson and ┆ w.park.co ┆     ┆ e hybrid  ┆         ┆ ty        ┆            │
│       ┆            ┆ Trujillo   ┆ m/        ┆     ┆ data-ware ┆         ┆           ┆            │
│       ┆            ┆            ┆           ┆     ┆ house     ┆         ┆           ┆            │
│ 4     ┆ bbf18835CF ┆ Poole,     ┆ http://ha ┆ ... ┆ Extended  ┆ 1991    ┆ Food Prod ┆ 9974       │
│       ┆ bEee7      ┆ Jefferson  ┆ yden.com/ ┆     ┆ regional  ┆         ┆ uction    ┆            │
│       ┆            ┆ and        ┆           ┆     ┆ Graphic   ┆         ┆           ┆            │
│       ┆            ┆ Merritt    ┆           ┆     ┆ Interf... ┆         ┆           ┆            │
│ 5     ┆ 74ECD725ce ┆ Ritter,    ┆ https://w ┆ ... ┆ Re-contex ┆ 2019    ┆ Computer  ┆ 5050       │
│       ┆ aDfd9      ┆ Patel and  ┆ ww.mason- ┆     ┆ tualized  ┆         ┆ Networkin ┆            │
│       ┆            ┆ Cisneros   ┆ blackwell ┆     ┆ actuating ┆         ┆ g         ┆            │
│       ┆            ┆            ┆ .info...  ┆     ┆ webs...   ┆         ┆           ┆            │
└───────┴────────────┴────────────┴───────────┴─────┴───────────┴─────────┴───────────┴────────────┘

In [16]:
df_polars.schema

{'Index': Int64,
 'Organization Id': Utf8,
 'Name': Utf8,
 'Website': Utf8,
 'Country': Utf8,
 'Description': Utf8,
 'Founded': Int64,
 'Industry': Utf8,
 'Number of employees': Int64}

In [12]:
init = processing_time()
df_polars = pl.read_csv(source=archive)
end = processing_time()

print(df_polars.shape)
final_time(end, init)

(1172408, 9)
Final time: 0:00:00.487789